
= link_to 'XML', editxml_publication_passage_cts_identifier_path( passage_cts_identifier.publication, passage_cts_identifier)
= link_to 'Preview', preview_publication_passage_cts_identifier_path( passage_cts_identifier.publication, passage_cts_identifier)
%br
