
= link_to 'Translation', edit_polymorphic_path([epi_trans_cts_identifier.publication, epi_trans_cts_identifier])  
= link_to 'XML', editxml_publication_epi_trans_cts_identifier_path( epi_trans_cts_identifier.publication, epi_trans_cts_identifier)
= link_to 'Preview', preview_publication_epi_trans_cts_identifier_path( epi_trans_cts_identifier.publication, epi_trans_cts_identifier)
%br
