
= link_to 'HGV', edit_polymorphic_path([epi_meta_cite_identifier.publication, epi_meta_cite_identifier]) 
= link_to 'XML', editxml_publication_epi_meta_cite_identifier_path( epi_meta_cite_identifier.publication, epi_meta_cite_identifier)
= link_to 'Preview', preview_publication_epi_meta_cite_identifier_path( epi_meta_cite_identifier.publication, epi_meta_cite_identifier)
%br
