
= link_to 'Leiden+', edit_polymorphic_path([epi_cts_identifier.publication, epi_cts_identifier]) 
= link_to 'XML', editxml_publication_epi_cts_identifier_path( epi_cts_identifier.publication, epi_cts_identifier)
= link_to 'Commentary', commentary_publication_epi_cts_identifier_path( epi_cts_identifier.publication, epi_cts_identifier)
= link_to 'Preview', preview_publication_epi_cts_identifier_path( epi_cts_identifier.publication, epi_cts_identifier)
%br
